:root {
    --main-light: #DDDDDD;
    --main-dark: #111111;
    --blue-dark: #172539;
    --blue-light: #1F9BE8;

    --p-container: .5rem 1.25rem;
    --p-item: .5rem 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif, serif, Arial, Helvetica;
    font-weight: 400;
    color: var(--main-light);
    position: relative;
}

a {
    text-decoration: none;
    color: var(--main-light);
}

li {
    list-style: none;
}
input {
    color: var(--main-light);
}

header {
    width: 100%;
    height: auto;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(15, 15, 15, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
}

main {
    background: rgb(17, 17, 17);
    background: -moz-linear-gradient(90deg, rgba(17, 17, 17, 1) 0%, rgba(23, 37, 57, 1) 50%, rgba(17, 17, 17, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(17, 17, 17, 1) 0%, rgba(23, 37, 57, 1) 50%, rgba(17, 17, 17, 1) 100%);
    background: linear-gradient(90deg, #111111 0%, rgba(23, 37, 57, 1) 50%, #111111 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#111111", endColorstr="#111111", GradientType=1);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;
}

.bg_main {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 110;
    mask-image: linear-gradient(to bottom, black, transparent);
}

.bg_main img {
    position: relative;
    width: 100%;
    height: 80vh;
    max-height: 1440px;
    object-fit: cover;
}

.gradient_img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    max-height: 1440px;
    opacity: 50%;
    background: rgb(17, 17, 17);
    background: -moz-linear-gradient(0deg, rgba(17, 17, 17, 1) 0%, rgba(23, 37, 57, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(17, 17, 17, 1) 0%, rgba(23, 37, 57, 1) 100%);
    background: linear-gradient(0deg, rgba(17, 17, 17, 1) 0%, rgba(23, 37, 57, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#111111", endColorstr="#172539", GradientType=1);
}

section {
    position: absolute;
    z-index: 200;
}


.cont_header {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem 1rem;
    position: relative;
    top: 0;
    left: 0;
    z-index: 5001;
}

.logo_btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5002;
}
.logo_header {
    font-size: 1.5rem;
}
#btn_header {
    border: none;
    background: none;
}

#btn_header i {
    font-size: 1.5rem;
    color: var(--main-light);
}

.menu_header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 200px;
    position: absolute;
    top: -1rem;
    left: -100%;
    z-index: 4000;
    opacity: 0;
    background-color: rgba(15, 15, 15, 0.75);
    transition: .3s ease-in-out;
}

.menu_active {
    left: 0;
    opacity: 1;
    background-color: rgb(15, 15, 15, 0.9);
}

.menu_header a {
    margin: var(--p-item);
    font-weight: 600;
}

.search_header {
    background-color: rgba(15, 15, 15, 0.25);
    outline: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 0 .5rem;
    margin: 1rem 0;
    position: absolute;
    top: calc(100% + 2rem);
    left: -100%;
    width: 0;
    transform: translateX(-50%);
    z-index: 5002;
    opacity: 0;
    transition: .4s ease-in-out;
}
.search_active {
    left: 50%;
    width: 90%;
    opacity: 1;
    transform: translateX(-50%);
}

.search_header input {
    width: 100%;
    height: auto;
    border: none;
    background: none;
    padding: .75em;
}
.search_header input:focus {
    outline: none;
    caret-color: var(--main-light);
}

.search_header button {
    width: 30px;
    height: auto;
    border: none;
    background: none;
}
.search_header button i {
    color: var(--main-light);
}

/* SECTION ONE (background) */
.cont_bg_main {
    width: 100%;
    height: 100vh;
    max-height: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 200;
    padding: var(--p-container);
}

/* container info movie */
.cont_info {
    width: 100%;
    max-width: 1440px;
}

.info_movie_bg {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info_movie_bg h2 {
    font-size: 2rem;
}

.details_movie_bg {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem 0 1rem;
}
.details_movie_bg li {
    margin: .5rem ;
}
.details_movie_bg li i {
    margin-right: .5rem;
}
#synopsis_movie_bg {
    height: auto;
    overflow-y: auto;
}

.buttons_bg_movie {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.buttons_bg_movie button {
    border: none;
    background: none;
    color: var(--main-light);
    margin-top: 1.5rem;
    cursor: pointer;
    transition: .3s ease-in-out;
}
#btn_play_movie_bg {
    margin-right: 3rem;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--main-light);
    background: none;
    border: none;
    display: flex;
    align-items: center;
}
#btn_play_movie_bg i {
    font-size: 3.25rem;
    margin-right: 1rem;
    color: var(--blue-light);
    transition: .3s ease-in-out;
}
#btn_play_trailer_bg {
    font-size: 1rem;
    outline: 1px solid var(--blue-light);
    padding: .5rem 1.25rem;
    border-radius: 1rem;
}
#btn_play_movie_bg:hover .fa-circle-play{
    color: red;
    transform: scale(.95);
}
#btn_play_trailer_bg:hover {
    outline: 1px solid red;
    transform: scale(.95);
}


/* nav menu - category */
.nav_category {
    width: 100%;
    min-height: 80px;
    max-height: 120px;
    padding: 0 1rem;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


#btn_c {
    width: 150px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(15, 15, 15);
    border: none;
    color: var(--main-light);
    font-size: 1rem;
}

#btn_c i {
    margin: 0 .5rem;
    font-size: 1.25rem;
}

.category_items {
    background-color: rgb(15, 15, 15);
    width: max-content;
    padding: .5rem 1.5rem 2rem;
    position: absolute;
    top: 100%;
    left: -100%;
    opacity: 0;
    border-bottom-right-radius: 1rem;
    transition: .3s ease-in-out;
}


.category_items li {
    margin: 0 .5em;
    padding: var(--p-item);
    transition: .3s ease-in-out;
}

.category_items li:hover {
    background-color: rgba(250, 250, 250, 0.5);
    cursor: pointer;
}

.items_active {
    left: 0;
    opacity: 1;
}



/* SECTION TWO - SLIDER MOVIES (glide.js)*/

.title_category {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--p-item);
    margin-top: 3em;
    position: relative;
}

.title_category span {
    width: 100%;
    height: 1px;
    margin: 1rem 0;
    background-color: rgba(250, 250, 250, 0.5);
}

.title_category h2,
.title_category a {
    min-width: max-content;
}
.title_category > a {
    color: var(--blue-light);
}

.cont_slider_movies {
    width: 100%;
    max-width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 100;
    padding: .5rem .5rem 8rem .5rem;
}
.bg_slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    opacity: 5%;
    mask-image: linear-gradient(to right, transparent, black 25%, black 75%, transparent);
}
.glider-contain {
    position: relative;
}
.glider {
    padding: .5rem 0;
}

.card {
    margin: 0 .5rem;
    display: flex;
    justify-content: center;
}


.body_card {
    background-color: rgba(15, 15, 15, 0.75);
    backdrop-filter: blur(10px);
    outline: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: .5rem;
    display: grid;
    position: relative;
    transition: .3s ease-in-out;
}
.body_card:hover {
    transform: scale(.99);
}

.info_card {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    padding: 1rem .5rem;
    background-color: rgba(15, 15, 15, 0.75);
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    opacity: 0;
    overflow: auto;
    transition: .3s ease-in-out;
}
.body_card:hover .info_card {
    top: 0;
    height: calc(100% - 61px);
    opacity: 1;
}
.info_card ul {
    display: flex;
    padding-bottom: .5rem;
    font-size: .85rem;
}
.info_card ul li {
    margin-right: 1rem;
}
.info_card ul li i {
    margin-right: .5rem;
}
.info_card p {
    max-width: 100%;
    font-size: .85rem;
}
.info_card::-webkit-scrollbar {
    display: none;
}

.card img {
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}

.card h2 {
    font-size: 1.2rem;
    padding: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .4s ease-in-out;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
.card h2:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--main-dark);
}
.nav_slider {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.glider-track {
    -webkit-tap-highlight-color: transparent;
}

.btn_prev,
.btn_next {
    width: 50px;
    padding: .5rem;
    border: none;
    background: none;
    font-size: 1.5rem;
    color: var(--main-light);
    transition: .3s ease-in-out;
}
.btn_next:hover,
.btn_prev:hover {
    color: var(--blue-light);
}
.wave_main {
    outline: 1px solid red;
    min-width: 900px;
}
footer {
    width: 100%;
    min-height: 100px;
    background-color: var(--main-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cont_footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.cont_footer h1 {
    margin: 2em 0;
    font-size: 2rem;
}


/* slider responsive */
@media screen and (min-width: 200px) {
    .body_card {
        max-width: 300px;
    }
}

@media screen and (min-width: 440px) {
    .cont_header {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .search_header {
        width: auto;
        justify-content: space-between;
        align-items: center;
        position: static;
        transform: none;
        opacity: 1;
    }
    #btn_header {
        margin: 0 2rem;
    }

    .logo_btn {
        width: max-content;
    }

    .title_category {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: var(--p-item);
        margin: 4rem 0 1.5rem 0;
    }
    .title_category span {
        margin: 0 1.25rem;
    }
}

@media screen and (min-width: 630px) {
    .menu_header {
        flex-direction: row;
        width: auto;
        height: auto;
        position: static;
        opacity: 1;
        background: none;
        padding: 0;
        margin-left: 2em;
    }

    #btn_header {
        margin: 0 2rem;
        display: none;
    }
    .card {
        max-width: 250px;
    }

    .body_card {
        min-width: 100%;
    }
}

@media screen and (min-width: 700px) {
    #btn_header {
        display: none;
    }

    .menu_header {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: static;
    }

    .info_movie_bg {
        width: 80%;
    }
    .nav_category {
        mask-image: linear-gradient(to right, transparent, #111111 25%, #111111 75%, transparent);
    }
    .category_items {
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
        padding: 0;
    }

    .category_items li {
        position: relative;
        display: inline-block;
    }

    .category_items li:hover {
        background: none;
        color: white;
        transform: scale(1.05);
    }

    .items_after::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        border-bottom: 1px solid var(--blue-light);
    }

    #btn_c {
        display: none;
    }

    .items_active {
        display: none;
    }
}

@media screen and (max-height: 600px) {
    #synopsis_movie_bg {
        max-height: 150px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1024px) {
    .logo_header {
        font-size: 2rem;
    }
    .info_movie_bg {
        width: 60%;
    }
    .card {
        max-width: none;
        width: auto;
    }
}

/* RESOLUCIONES ALTAS */
@media screen and ((min-width: 1921px) and (max-width: 2559px)) {
    .logo_header {
        font-size: 2.5rem;
    }
    .menu_header a {
        font-size: 1.5rem;
    }
    .search_header input {
        font-size: 1.125rem;
    }
    .search_header button {
        font-size: 1.25rem;
        padding: .5em 0;
        width: 50px;
    }
    /* INFO MOVIE BG */
    .info_movie_bg h2 {
        font-size: 2.5rem;
    }
    .details_movie_bg,
    #synopsis_movie_bg {
        font-size: 1.25rem;
    }
    #btn_play_movie_bg {
        font-size: 1.5rem;
    }
    #btn_play_movie_bg i {
        font-size: 4rem;
    }
    #btn_play_trailer_bg {
        font-size: 1.5rem;
    }
    /* NAV CATEGORY */
    .category_items li {
        font-size: 1.5rem;
    }
    /* SLIDE */
    #category_select {
        font-size: 2rem;
    }
    .title_category > a {
        font-size: 1.25rem;
    }
    /* slide: cards */
    .info_card ul,
    .info_card p {
        font-size: 1.125rem;
    }
    .body_card h2 {
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 2560px){
    .logo_header {
        font-size: 2.5rem;
    }
    .search_header input {
        font-size: 1.25rem;
    }
    .search_header button {
        font-size: 1.5rem;
        padding: .5em 0;
        width: 50px;
    }

    /* SECTIONS */
    .cont_header,
    .cont_info,
    .cont_slider_movies {
        max-width: 1920px;
    }
    /*****************/

    .menu_header a{
        font-size: 2rem;
    }
    /* INFO MOVIE BG */
    .info_movie_bg h2 {
        font-size: 3rem;
    }
    .details_movie_bg,
    #synopsis_movie_bg {
        /* font-size: 1.25rem; */
        font-size: 1.375rem;
    }
    #btn_play_movie_bg {
        font-size: 1.75rem;
    }
    #btn_play_movie_bg i {
        font-size: 4rem;
    }
    #btn_play_trailer_bg {
        font-size: 1.75rem;
    }
    /* NAV CATEGORY */
    .category_items li {
        font-size: 1.75rem;
        margin: 0 .75em;
    }
    /* SLIDE */
    #category_select {
        font-size: 2.25rem;
    }
    .title_category > a {
        /* font-size: 1.25rem; */
        font-size: 1.375rem;
    }
    /* slide: cards */
    .info_card ul,
    .info_card p {
        font-size: 1.25rem;
    }
    .body_card h2 {
        font-size: 1.5rem;
    }
}

/*-------------------*/


